body {
  width: 100%;
  margin: 0 auto;
}


h1 {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}
h2 {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}
h3 {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}
h4 {font-family: 'Covered By Your Grace', cursive;
text-align: center;
font-size: 200%}
p {font-family: 'Roboto Condensed', sans-serif;
text-align: center;
font-size: 18px}


.btn btn-info btn-lg {
  color: black;
}

.outerRim {
    width: 600px;
    height: 600px;
    position: relative;
}

.outerRim img{
    position: absolute;
    width: 21%;
    height: 21%;
}



@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 6, $circle-size:50em, $item-size: 18em);
  margin: 5em auto 0;
  z-index: 10;


  img {
    display: block;
    max-width: 100%;
    filter: opacity(85%);
    // border: solid 5px tomato;
    transition: .15s;

    &:hover {
      filter: grayscale(0);
    }
  }
}


.map {
  background-image: url(../images/map_BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2000px;
  margin: 0;
  padding: 0, 0, 0, 0,;
}

// beginning of pages

.leftColumn {
  background-color: #0f4580;
  width: 40%;
  margin: 0;
  padding: 0;
  position: fixed;
  left:0px;
  top: 0px;
  float: left;
  height: 100vh;
  color: white;
  border-right: 2px solid black;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 15%;


  }

 .ParticularIcon {
    width: 300px;
    padding: 0;
    display: block;
    margin:0 auto;
    padding-top: 10%;
    padding-bottom: 5%;
  }

  .Compass {
    // width: 1000px;
    padding-top: 12%;
    padding-right: 38%;
    padding: 0;
    display: block;
    margin:0 auto;
    width: 125px;
  }
}



.rightSideWhole {
  background-color: white;
  width: 60%;
  margin: 0;
  padding: 0;
  height: 2000px;
  float: right;
  // .img {
  //
  // }
}

.titleBar {
  background-color: black;
  height: 75px;
  color: white;
  font-family: sans-serif;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width:60%;
}

.bottomBar {
  background-color: black;
  height: 75px;
  font-family: sans-serif;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width:60%;

  .tagline {
    border-top: 5px solid black;
    // padding-top: 100px;
    margin-bottom: 20%;
    padding-top: 25px;
    // padding-right: 38%;
    padding: 0;
    display: block;
    margin:0 auto;
    width: 50%;
  }
}


// .btn btn-info btn-lg {
//
// }
