html {
  height: 140vh;
  background-image: url(../images/Map_BG1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right; }

body {
  width: 100%;
  margin: 0 auto; }

#google_translate_element {
  padding-left: 20px;
  padding-bottom: 20px; }

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 200%; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 18px; }

#shelterResults {
  padding-top: 75px;
  padding-bottom: 100px; }

#crisisResults {
  padding-top: 75px;
  padding-bottom: 100px; }

#transportationResults {
  padding-top: 75px;
  padding-bottom: 100px; }

#medicalResults {
  padding-top: 75px;
  padding-bottom: 100px; }

#foodResults {
  padding-top: 75px;
  padding-bottom: 100px; }

#legalResults {
  padding-top: 75px;
  padding-bottom: 100px; }

.list-information {
  text-align: left;
  padding-left: 10px; }

.btn-lg {
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%; }

.btn-lg:hover {
  background-color: #0f4580; }

.btn-info.focus, .btn-info:focus {
  color: #fff;
  background-color: #0f4580;
  border-color: #0f4580; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #0f4580; }

.crisisBtn {
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%; }

.crisisBtn:hover {
  background-color: #000000;
  color: #ffffff; }

.crisisBtn.focus, .crisisBtn:focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #0f4580; }

.crisisBtn.active.focus, .crisisBtn.active:focus, .crisisBtn.focus, .crisisBtn:active.focus, .crisisBtn:active:focus, .crisisBtn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #000000;
  color: #ffffff; }

body {
  width: 100%;
  margin: 0 auto; }

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h4 {
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
  font-size: 200%; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

.row2 {
  height: 300px;
  width: 100%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%; }

.row1 {
  height: 300px;
  width: 100%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%; }

.row1 .row2 {
  width: 95%;
  float: left;
  margin: 1%; }

.row2 {
  clear: both;
  margin-right: 0%; }

.Shelter {
  float: left;
  width: 30%; }
  .Shelter img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Food {
  float: left;
  width: 30%; }
  .Food img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Medical {
  float: left;
  width: 30%; }
  .Medical img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Crisis {
  float: left;
  width: 30%; }
  .Crisis img {
    margin: 0 auto;
    display: block; }

.Legal {
  float: left;
  width: 30%; }
  .Legal img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Transportation {
  float: left;
  width: 30%; }
  .Transportation img {
    bottom: 60%;
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.iconsRow1 img {
  clear: both;
  width: 85%;
  align-self: center;
  padding-bottom: 0; }

.centerTag {
  z-index: 10;
  width: 80%;
  background-size: cover;
  display: block;
  margin: 0 auto;
  clear: both;
  padding: 0; }

.centerTag img {
  height: 200%;
  align-self: center;
  margin: 0 auto;
  display: block; }

.iconsRow2 img {
  width: 85%;
  align-self: center; }

/*# sourceMappingURL=style.css.map */
.leftColumn {
  background-color: #0f4580;
  width: 40%;
  margin: 0;
  display: block;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  top: 0px;
  float: left;
  height: 100vh;
  color: white; }
  .leftColumn h1 {
    padding: 0;
    margin: 0;
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 15%; }
  .leftColumn .ParticularIcon {
    width: 300px;
    padding: 0;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 5%; }
  .leftColumn .movingPart {
    position: relative;
    width: 325px;
    display: block;
    margin: 0 auto; }
  .leftColumn .Compass {
    display: block;
    margin: 0 auto;
    width: 225px; }
  .leftColumn .sticker {
    width: 75px;
    height: 75px;
    background: url(../images/WParrow.png);
    background-repeat: no-repeat;
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    animation-play-state: paused;
    z-index: 100;
    position: absolute;
    left: 131px;
    top: 31px;
    display: block;
    margin: 0 auto; }
  .leftColumn .sticker:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-play-state: running; }
@keyframes spin {
  100% {
    transform: rotate(1turn); } }
.redColumn {
  background-color: #ff0033; }

.ltblueColumn {
  background-color: #8ad5dd; }

.redBtn:hover {
  background-color: #ff0033; }

.ltblueBtn:hover {
  background-color: #8ad5dd; }

.ltblueBtn.focus, .ltblueBtn:focus {
  color: #fff;
  background-color: #8ad5dd;
  border-color: #8ad5dd; }

.ltblueBtn.active.focus, .ltblueBtn.active:focus, .ltblueBtn.focus, .ltblueBtn:active.focus, .ltblueBtn:active:focus, .ltblueBtn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #8ad5dd; }

.redBtn.focus, .redBtn:focus {
  color: #fff;
  background-color: #ff0033;
  border-color: #ff0033; }

.redBtn.active.focus, .redBtn.active:focus, .redBtn.focus, .redBtn:active.focus, .redBtn:active:focus, .redBtn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #ff0033; }

.closes {
  background-color: white; }

.closes:hover {
  background-color: white; }

.closes.focus, .closes:focus {
  color: #fff;
  background-color: white; }

.closes.active.focus, .closes.active:focus, .closes.focus, .closes:active.focus, .closes:active:focus, .closes:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: white; }

.modal-body {
  text-align: center; }

.rightSideWhole {
  background-color: white;
  width: 60%;
  margin: 0;
  padding: 0;
  height: 100vh;
  float: right; }

/*# sourceMappingURL=style.css.map */
