body {
  width: 100%;
  margin: 0 auto;
}


h1 {font-family: 'Roboto', sans-serif;
text-align: center;}
h2 {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}
h3 {font-family: 'Roboto', sans-serif;
text-align: center;}
h4 {font-family: 'Covered By Your Grace', cursive;
text-align: center;
font-size: 200%}
p {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}


// .circle-container {
//     img {
//     height: 100px;
//   }
// }


// .Shelters {

// .Food {

// .Medical {

// }
// .Crisis {

// }

// .Legal {

// }

// .Transportation {

// .outerRim {
//
// }
//
// .centerTag {
//   z-index: 10;
//   display: block;
//   margin: 0 auto;
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
//   img {
//     height: 150px;
//     align-self: center;
//     // margin-top: 50%;
//     display: block;
// }
// }

.outerRim {
    width: 600px;
    height: 600px;
    position: relative;
}

.outerRim img{
    position: absolute;
    width: 21%;
    height: 21%;
}


// .logo {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// .logo {
//   background-image: url('../images/way_PointerLogo_Tagline.png');
// }


@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 6, $circle-size:40em, $item-size: 18em);
  margin: 5em auto 0;
  z-index: 10;
  background: url(images/way_PointerLogo_Tagline.png);

  img {
    display: block;
    max-width: 100%;
    // filter: grayscale(100%);
    // border: solid 5px tomato;
    // transition: .15s;

    &:hover {
      // filter: grayscale(0);
    }
  }
}
