body {
  width: 100%;
  margin: 0 auto;
}
#google_translate_element {
  padding-left: 10px;
}

h1 {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}
h2 {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}
h3 {font-family: 'Roboto Condensed', sans-serif;
text-align: center;}
h4 {font-family: 'Roboto', sans-serif;
text-align: center;
font-size: 200%}
p {font-family: 'Roboto Condensed', sans-serif;
text-align: center;
font-size: 18px}

#shelterResults {
  padding-top: 75px;
  padding-bottom: 100px;
}

.list-information {
  text-align: left;
  padding-left: 10px;
}


.btn-lg {
  background-color: black;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  width:100%;
}

 .crisisBtn {
  background-color: white;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  width:100%;
}

.crisisBtn:hover{
  background-color: white;
}

.crisisBtn.focus, .crisisBtn:focus {
   color: #fff;
   background-color: white;
   border-color: #0f4580;
}

.crisisBtn.active.focus, .crisisBtn.active:focus, .crisisBtn.focus, .crisisBtn:active.focus, .crisisBtn:active:focus, .crisisBtn:focus {
   outline: none;
   outline-color: none;
   outline-width: none;
   outline-offset: none;
   background-color: white;
}

.btn-lg:hover{
  background-color: #0f4580;
}

.btn-info.focus, .btn-info:focus {
   color: #fff;
   background-color: #0f4580 ;
   border-color: #0f4580 ;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
   outline: none;
   outline-color: none;
   outline-width: none;
   outline-offset: none;
   background-color: #0f4580;
}

.outerRim {
    width: 600px;
    height: 600px;
    position: relative;
}

.outerRim img{
    position: absolute;
    width: 21%;
    height: 21%;
}



@mixin on-circle ($item-count, $circle-size, $item-size) {
  position: relative;
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  padding: 0;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top:  50%;
    left: 50%;
    margin: -($item-size / 2);
    width:  $item-size;
    height: $item-size;

    $angle: (360 / $item-count);
    $rot: 0;

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate($rot * 1deg) translate($circle-size / 2) rotate($rot * -1deg);
      }

      $rot: $rot + $angle;
    }
  }
}

.circle-container {
  @include on-circle($item-count: 6, $circle-size:50em, $item-size: 18em);
  margin: 5em auto 0;
  z-index: 10;


  img {
    display: block;
    max-width: 100%;
    filter: opacity(85%);
    // border: solid 5px tomato;
    transition: .15s;

    &:hover {
      filter: grayscale(0);
    }
  }
}


.map {
  background-image: url(../images/map_BG.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2000px;
  margin: 0;
  padding: 0, 0, 0, 0,;
}

// beginning of pages

.leftColumn {
  background-color: #0f4580;
  width: 40%;
  margin: 0;
  display: block;
  margin:0 auto;
  position: fixed;
  left:0px;
  top: 0px;
  float: left;
  height: 100vh;
  color: white;
  border-right: 2px solid black;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 15%;


  }

 .ParticularIcon {
    width: 300px;
    padding: 0;
    display: block;
    margin:0 auto;
    padding-top: 10%;
    padding-bottom: 5%;
  }

   .movingPart {
    position: relative;
    width: 325px;
    display: block;
    margin:0 auto;
  }

 .Compass {
    display: block;
    margin:0 auto;
    width: 225px;
    // position: absolute;
    // left: 125px;
  }

  .sticker {
    width:75px;
    height:75px;
    background:  url(../images/WParrow.png);
    background-repeat: no-repeat;
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    animation-play-state: paused;
    z-index: 100;
    position: absolute;
    left: 131px;
    top: 31px;
    display: block;
    margin: 0 auto;
  }

  .sticker:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-play-state: running;
  }

  @keyframes spin {
    100% {transform: rotate(1turn); }
  }


  //  .movingPart .Compass .sticker {
  //    display: block;
  //    margin: 0 auto;
  //  }


}
.redColumn {
  background-color:#ff0033;
}
.ltblueColumn {
  background-color:#8ad5dd;
}

.redBtn:Hover {
  background-color:#ff0033;
}
.ltblueBtn:Hover {
  background-color:#8ad5dd;
}

.rightSideWhole {
  background-color: white;
  width: 60%;
  margin: 0;
  padding: 0;
  height: 100vh;
  float: right;
  // .img {
  //
  // }
}

.titleBar {
  background-color: #000;
  height: 60px;
  color: white;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width:60%;

  h1 {font-family:'Roboto Condensed', sans-serif;
  text-align: center;text-transform: uppercase;
  font-size: 30px;
  font-weight: 100;}
}

.bottomBar {
  background-color: black;
  height: 55px;
  font-family: sans-serif;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  width:60%;

  .tagline {
    border-top: 10px solid black;
    // padding-top: 100px;
    margin-bottom: 20%;
    padding-top: 25px;
    // padding-right: 38%;
    padding: 0;
    display: block;
    margin:0 auto;
    width: 30%;
  }
}

.btn btn-info btn-lg {

}
