.mainpage {
  height: 140vh;
  background-image: url(../images/Map_BG1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

body {
  width: 100%;
  margin: 0 auto; }

#google_translate_element {
  padding-left: 20px;
  padding-bottom: 20px; }

.goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon * {
  font-size: 20px !important; }

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h3 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 200%; }

h5 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  font-size: 18px; }

#shelterResults {
  padding-top: 10px;
  padding-bottom: 10px; }

#crisisResults {
  padding-top: 10px;
  padding-bottom: 10px; }

#transportationResults {
  padding-top: 10px;
  padding-bottom: 10px; }

#medicalResults {
  padding-top: 10px;
  padding-bottom: 10px; }

#foodResults {
  padding-top: 10px;
  padding-bottom: 10px; }

#legalResults {
  padding-top: 10px;
  padding-bottom: 10px; }

.list-information {
  text-align: left;
  padding-left: 10px; }

.btn-lg {
  background-color: black;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%;
  white-space: normal; }

.btn-lg:hover {
  background-color: #0f4580;
  white-space: normal; }

.btn-info.focus, .btn-info:focus {
  color: #fff;
  background-color: #0f4580;
  border-color: #0f4580; }

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #0f4580; }

.crisisBtn {
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  width: 100%; }

.crisisBtn:hover {
  background-color: #ffffff;
  color: #000000; }

.crisisBtn.focus, .crisisBtn:focus {
  color: #ffffff;
  background-color: #000000;
  border-color: #0f4580; }

.crisisBtn.active.focus, .crisisBtn.active:focus, .crisisBtn.focus, .crisisBtn:active.focus, .crisisBtn:active:focus, .crisisBtn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #ffffff;
  color: #000000; }

body {
  width: 100%;
  margin: 0 auto; }

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

h3 {
  font-family: 'Roboto', sans-serif;
  text-align: center; }

h4 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 28px; }

p {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center; }

.row2 {
  width: 100%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 5%; }

.row1 {
  width: 100%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 0%;
  margin-bottom: 1px; }

.row1 .row2 {
  width: 100%;
  float: left; }

.row2 {
  clear: both;
  margin-right: 0%; }

.Shelter {
  float: left;
  width: 30%; }
  .Shelter img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Food {
  float: left;
  width: 30%; }
  .Food img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Medical {
  float: left;
  width: 30%; }
  .Medical img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Crisis {
  float: left;
  width: 30%; }
  .Crisis img {
    margin: 0 auto;
    display: block; }

.Legal {
  float: left;
  width: 30%; }
  .Legal img {
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.Transportation {
  float: left;
  width: 30%; }
  .Transportation img {
    bottom: 60%;
    margin: 0 auto;
    display: block;
    border-radius: 50%; }

.iconsRow1 img {
  clear: both;
  width: 85%;
  align-self: center;
  padding-bottom: 0; }

.centerTag {
  z-index: 10;
  width: 80%;
  background-size: cover;
  display: block;
  margin: 0 auto;
  clear: both;
  padding: 0%; }

.centerTag img {
  height: 200%;
  align-self: center;
  margin: 0 auto;
  display: block; }

.iconsRow2 img {
  width: 85%;
  align-self: center; }

.leftColumn {
  background-color: #0f4580;
  width: 40%;
  margin: 0;
  display: block;
  margin: 0 auto;
  position: fixed;
  left: 0px;
  top: 0px;
  float: left;
  height: 100vh;
  color: white; }
  .leftColumn h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-weight: 600;
    padding-bottom: 15%; }
  .leftColumn .leftColumn .isSecondary {
    font-size: 45px;
    padding: 0;
    margin: 0;
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 15%;
    font-family: 'Roboto', sans-serif;
    text-align: center; }
  .leftColumn .ParticularIcon {
    width: 300px;
    padding: 0;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 5%; }
  .leftColumn .movingPart {
    position: relative;
    width: 325px;
    display: block;
    margin: 0 auto; }
  .leftColumn .Compass {
    display: block;
    margin: 0 auto;
    width: 225px; }
  .leftColumn .sticker {
    width: 75px;
    height: 75px;
    background: url(../images/WParrow.png);
    background-repeat: no-repeat;
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    animation-play-state: paused;
    z-index: 100;
    position: absolute;
    left: 131px;
    top: 31px;
    display: block;
    margin: 0 auto; }
  .leftColumn .sticker:hover {
    /* Toggle our animation play state to running when we are hovering over our sticker */
    animation-play-state: running; }
@keyframes spin {
  100% {
    transform: rotate(1turn); } }
.redColumn {
  background-color: #ff0033; }

.ltblueColumn {
  background-color: #8ad5dd; }

.redBtn:hover {
  background-color: #ff0033; }

.ltblueBtn:hover {
  background-color: #8ad5dd; }

.ltblueBtn.focus, .ltblueBtn:focus {
  color: #fff;
  background-color: #8ad5dd;
  border-color: #8ad5dd; }

.ltblueBtn.active.focus, .ltblueBtn.active:focus, .ltblueBtn.focus, .ltblueBtn:active.focus, .ltblueBtn:active:focus, .ltblueBtn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #8ad5dd; }

.redBtn.focus, .redBtn:focus {
  color: #fff;
  background-color: #ff0033;
  border-color: #ff0033; }

.redBtn.active.focus, .redBtn.active:focus, .redBtn.focus, .redBtn:active.focus, .redBtn:active:focus, .redBtn:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: #ff0033; }

.closes {
  background-color: white; }

.closes:hover {
  background-color: white; }

.closes.focus, .closes:focus {
  color: #fff;
  background-color: white; }

.closes.active.focus, .closes.active:focus, .closes.focus, .closes:active.focus, .closes:active:focus, .closes:focus {
  outline: none;
  outline-color: none;
  outline-width: none;
  outline-offset: none;
  background-color: white; }

.modal-body {
  text-align: center; }

.rightSideWhole {
  background-color: white;
  width: 60%;
  margin: 0;
  padding: 0;
  height: 100vh;
  float: right; }

.rightSideWhole h1 {
  display: none; }

.row1MOBY .row2MOBY .row3MOBY {
  display: none; }

.iconsMobyRow1 .iconsMobyRow2 .iconsMobyRow3 img {
  display: none; }

.phone {
  display: none; }

.mobyTag {
  display: none; }

@media only screen and (max-width: 736px) {
  .laptop {
    display: none; }

  .phone {
    display: block; }

  .leftColumn {
    width: 150px; }

  .leftColumn h1 {
    display: none; }

  .leftColumn .isSecondary h1 {
    display: none; }

  .leftColumn h5 {
    display: none; }

  .rightSideWhole {
    width: 60%; }

  #google_translate_element {
    padding-top: 4%;
    padding-left: 25px; }

  .leftColumn .ParticularIcon {
    width: 150px;
    padding: 0;
    display: block;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 5%; }

  .movingPart {
    position: relative;
    width: 50%;
    display: block;
    margin: 0 auto; }

  .leftColumn .Compass {
    display: block;
    margin: 0;
    width: 150px; }

  .leftColumn .sticker {
    width: 50px;
    height: 50px;
    background: url(../images/WParrow.png);
    background-repeat: no-repeat;
    animation: spin 10s linear infinite;
    /*Set our animation play state to paused initially */
    animation-play-state: paused;
    z-index: 100;
    position: absolute;
    left: 52px;
    top: 20px;
    display: block;
    margin: 0 auto;
    background-size: contain; }

  .rightSideWhole h1 {
    display: block;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: black;
    padding-top: 4%; }

  .row1MOBY .row2MOBY .row3MOBY {
    display: block; }
    .row1MOBY .row2MOBY .row3MOBY .centerTag {
      display: none; }

  .iconsMobyRow1 .iconsMobyRow2 .iconsMobyRow3 {
    width: 85%; }

  .iconsMobyRow1 .iconsMobyRow2 .iconsMobyRow3 img {
    width: 85%;
    align-self: center;
    display: block; }

  .mobyTag {
    padding-top: 10px;
    display: block;
    width: 100%;
    height: 200%;
    align-self: center;
    margin: 0 auto; }

  .Shelter, .Food, .Medical, .Crisis, .Legal, .Transportation {
    float: left;
    width: 50%; }
    .Shelter img, .Food img, .Medical img, .Crisis img, .Legal img, .Transportation img {
      bottom: 60%;
      margin: 0 auto;
      display: block;
      border-radius: 50%; }

  .rightSideWhole .isSecondary {
    font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
