<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>WayPointer</title>
        <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Condensed:300,400,700|Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/remodal.css' %}" />
        <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel='icon' href="{% static 'images/wayCompassBig.png' %}" type='image/png' sizes="32x32"/>
    </head>
    <body>
        <div id="crisisResults"></div>
            {% verbatim %}
                <script id="handlebarsTest" type="text/x-handlebars-template">
                    {{#each this}}
                        <a href="#crisisModal{{@index}}">{{this.crisisname}}</a>
                        <p>{{this.contact_information}}</p>
                        <div class="remodal-bg">
                            <div class="remodal" data-remodal-id="crisisModal{{@index}}">
                                <button data-remodal-action="close" class="remodal-close"></button>
                                <h1>{{this.crisisname}}</h1>
                                <li>phone: {{this.contact_information}}</li>
                                {{#if this.second_phone}}
                                    <li>second phone: {{this.second_phone}}</li>
                                {{/if}}
                                <br>
                                <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
                                <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
                            </div>
                        </div>
                    {{/each}}
                </script>
            {% endverbatim %}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/js/crisiss.js' %}"></script>
    <script src="{% static '/js/remodal.js' %}"></script>
    <script src="{% static '/js/remodal.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
</html>
