<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>WayPointer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Condensed:300,400,700|Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/remodal.css' %}" />
        <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}" />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel='icon' href="{% static 'images/wayCompassBig.png' %}" type='image/png' sizes="32x32"/>
    </head>
    <body>
        <div class="crisisPage">
            <div class="leftColumn ltblueColumn">
                <img src="{% static 'images/Crisis4_WH.png' %}" class="ParticularIcon" alt="crisis Icon" />
                <h1>CRISIS</h1>
                <div class="movingPart">
                    <a href="{% url 'index' %}"> <img src="{% static 'images/WPmarker.png' %}" class="Compass" alt="compass image" /></a>
                    <a href="{% url 'index' %}">
                        <div class="sticker"></div>
                    </a>
                </div>
            </div>
            <div class="rightSideWhole">
                <div class="titleBar">
                    <h1>Click for Phone Numbers</h1>
                </div>
                <div class="bottomBar">
                    <img src="{% static 'images/wp_logotext.png' %}" class="tagline" alt="logo text" />
                </div>
                <div id="crisisResults">
                    <div id="google_translate_element">
                    </div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                        }
                    </script>
                </div>
                {% verbatim %}
                    <script id="handlebarsTest" type="text/x-handlebars-template">
                        {{#each this}}
                            <button type="button" class="btn btn-info btn-lg crisisBtn" data-toggle="modal" data-target="#crisisModal{{@index}}">{{this.crisisname}}</button>
                            <br>
                            <div id="crisisModal{{@index}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{this.crisisname}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{this.contact_information}}</p>
                                            {{#if this.second_phone}}
                                                <p>second phone: {{this.second_phone}}</p>
                                            {{/if}}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </script>
                {% endverbatim %}

                <div class="bottomBar">
                    <img src="{% static 'images/wp_logotext.png' %}" class="tagline" alt="logo text" />
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/js/crisiss.js' %}"></script>
    <script src="{% static '/js/remodal.js' %}"></script>
    <script src="{% static '/js/remodal.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
