<!DOCTYPE html>
{% load static %}
<html>
      <head>
        <meta charset="utf-8">
        <title>WayPointer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Condensed:300,400,700|Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel='icon' href="{% static 'images/wayCompassBig.png' %}" type='image/png' sizes="32x32"/>
      </head>
    <body>

        <div class="foodPage">
            <div class="leftColumn ltblueColumn">
                <img src="{% static 'images/Food2_WH.svg' %}" class="ParticularIcon" alt="shelterIcon" />
                <h1>FOOD</h1>
                <div class="movingPart">
                    <a href="{% url 'index' %}"> <img src="{% static 'images/WPmarker.png' %}" class="Compass" alt="compass image" /></a>
                    <a href="{% url 'index' %}">
                        <div class="sticker"></div>
                    </a>
                </div>
            </div>
            <div class="rightSideWhole">

                <h1>FOOD</h1>
                <div id="foodResults">
                    <h5>chọn ngôn ngữ</h5>
                    <h5>Escoja el lenguaje</h5>
                    <div id="google_translate_element">
                    </div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
                        }
                    </script>
                </div>
                {% verbatim %}
                    <script id="handlebarsTest" type="text/x-handlebars-template">
                        {{#each .}}
                            <button type="button" class="btn btn-info btn-lg ltblueBtn" data-toggle="modal" data-target="#foodModal{{@index}}">{{this.providername}}</button>
                            <p class="list-information">{{this.times}}</p>
                            <div id="foodModal{{@index}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{this.providername}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p class="list-information">{{this.description_text}}</p>
                                            <p class="notranslate">{{this.address}}</p>
                                            <p id="dist{{@index}}">Distance{{showDistance this.address @index }}</p>
                                            <p class="notranslate">{{this.website}}</p>
                                            <p>{{this.phone_number}}</p>
                                            <iframe src="//www.google.com/maps/embed/v1/place?q={{this.address}}
                                                &zoom=17
                                                &key=AIzaSyBjUkLmUDYWsijYFWknWvVvjjeiYZWyCZM" width="400" height="275">
                                            </iframe>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default closes" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </script>
                {% endverbatim %}
            </div>
        </div>
    </body>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/js/foods.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
