<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <head>
        <meta charset="utf-8">
        <title>WayPointer</title>
        <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Condensed:300,400,700|Roboto:400,500,700" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/remodal.css' %}" />
        <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
      </head>
    </head>
    <body>
foods
<a href="#foodModal">Click Here</a>
<div id="foodResults">
</div>


<!-- food modal -->
<div class="remodal-bg">
<div class="remodal" data-remodal-id="foodModal">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>Remodal</h1>
  <p>
    Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
  </p>
  <br>
    <button data-remodal-action="cancel"  class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm"         class="remodal-confirm">OK</button>
  </div>
</div>

    {% verbatim %}
    <script id="handlebarsTest" type="text/x-handlebars-template">
        {{#each .}}
           <li>{{this.providername}}</li>
           <li>{{this.address}}</li>
           <li id="dist{{@index}}">Distance{{showDistance this.address @index}}</li>
           <iframe src="//www.google.com/maps/embed/v1/place?q={{this.address}}
                &zoom=17
                &key=AIzaSyBjUkLmUDYWsijYFWknWvVvjjeiYZWyCZM">
            </iframe>
           {{/each}}
   </script>
     {% endverbatim %}

    <div id="latitude"></div>
    <div id="longitude"></div>

  </body>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/foods.js' %}"></script>
    <script src="{% static '/js/remodal.js' %}"></script>
    <script src="{% static '/js/remodal.min.js' %}"></script>

</html>
