<!DOCTYPE html>
<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Condensed:300,400,700|Roboto:400,500,700" rel="stylesheet">

        <meta charset="utf-8">
        <title>WayPointer</title>
        <link rel="stylesheet" href="css/style.css" />
    </head>

    <body>
      <div class="navHeading">
        <h1>WayPointer</h1>
      </div>

      <div class="stationaryWayPointerIcon">
            <h4>Help Us Help You<br />Help Yourself</h4>
      </div>

<div class="row1">
        <div class="Shelter">
          <div class="iconsRow1">
              <a href="legal_placeholder.html" target="_blank">
                <img src="images/1icon_placeholder.png" alt="shelter Link" />
              </a>
              <h2>Shelter</h2>
              <h3>List</h3>
              <h3>lllllk</h3>

            </div>
        </div>

        <div class="Food">
          <div class="iconsRow1">

              <a href="legal_placeholder.html" target="_blank">
                <img src="images/2icon_placeholder.png" alt="food Link" />
              </a>
              <h2>Food</h2>
              <h3>Meals</h3>
              <h3>Food Assistance</h3>
            </div>
        </div>

        <div class="Medical">
          <div class="iconsRow1">

              <a href="legal_placeholder.html" target="_blank">
                <img src="images/3icon_placeholder.png" alt="medical Link" />
              </a>
                <h2>Medical</h2>
              <h3>General Health</h3>
              <h3>Mental Health</h3>
            </div>
        </div>
  </div>

<div class="row2">

      <div class="Crisis">

        <div class="iconsRow2">

            <a href="legal_placeholder.html" target="_blank">
              <img src="images/4icon_placeholder.png" alt="crisis Link" />
            </a>
            <h2>Crisis</h2>
            <h3>Hotlines</h3>
          </div>
      </div>


      <div class="Legal">

        <div class="iconsRow2">

            <a href="legal_placeholder.html" target="_blank">
              <img src="images/5icon_placeholder.png" alt="legal Link" />
            </a>
            <h2>Legal</h2>
            <h3>Jobs</h3>
            <h3>Refuge Assistance</h3>
          </div>
      </div>

      <div class="Transportation">
        <div class="iconsRow2">

            <a href="legal_placeholder.html" target="_blank">
              <img class="image" src="images/6icon_placeholder.png" alt="Transportation Link" />
            </a>
            <h2>Transportation</h2>
            <h3>Buses</h3>
            <h3>Various</h3>
          </div>
      </div>
    </div>


    </body>
</html>
