<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello World</title>
    </head>
    <body>

        index page

      <div class="Crisis">
        <h2>Hotlines</h2>
        <h3>Violence Provention</h3>
      </div>

      <div class="Shelter">
        <h2>Shelter</h2>
        <h3>Housing</h3>
      </div>

      <div class="Food">
        <h2>Food</h2>
        <h3>Kitchens and Food Sources</h3>
      </div>

      <div class="Medical">
        <h2>Medical</h2>
        <h3>Clinics</h3>
      </div>

      <div class="Mental Health">
        <h2>Mental Health</h2>
        <h3>Counseling</h3>
      </div>

      <div class="Employment">
        <h2>Employment</h2>
        <h3>Jobs</h3>
      </div>

      <div class="Leisure">
        <h2>Sports Leisure and Entertainment</h2>
        <h3>Chess</h3>
        <h3>Tai Chi</h3>
      </div>



    </body>
</html>
