<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <title>WayPointer</title>
    </head>
    <body>
      <div class="Header">

      </div>



        <div class="Shelter">
          <h2>Shelter</h2>
            <h3>Shelters</h3>
        </div>

        <div class="Food">
          <h2>Food</h2>
            <h3>Meals</h3>
            <h3>Food Assistance</h3>
        </div>

        <div class="Medical">
          <h2>Medical</h2>
            <h3>General Health</h3>
            <h3>Mental Health</h3>
        </div>

      <div class="Crisis">
        <h2>Crisis</h2>
          <h3>Hotlines</h3>
      </div>


      <div class="Legal">
        <h2>Legal</h2>
          <h3>Jobs</h3>
          <h3>Refuge Assistance</h3>
      </div>

      <div class="Transportation">
        <h2>Transportation</h2>
          <h3>Buses</h3>
          <h3>Various</h3>
      </div>
<a href='foods'><button id="foodButton" type="button" name="button">FOODS</button></a>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</html>
