<!DOCTYPE html>
{% load static %}
<html>
    <head>
      <head>
        <meta charset="utf-8">
        <title>WayPointer</title>
        <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Condensed:300,400,700|Roboto:400,500,700" rel="stylesheet">

        <link rel="stylesheet" href="{% static 'css/remodal.css' %}" />
        <link rel="stylesheet" href="{% static 'css/remodal-default-theme.css' %}" />

        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel='icon' href="{% static 'images/wayCompassBig.png' %}" type='image/png' sizes="32x32"/>

      </head>
    </head>
    <body>

shelter
<div class="topBox">
  <img src="{% static 'images/way_PointerLogo_Tagline.png' %}" alt="tagline" />
</div>

<img src="{% static 'images/1icon_shelter.png' %}" alt="shelter image" />
<div id="shelterResults">
</div>

<a href="{% url 'index' %}">Home</a>

{% verbatim %}
<script id="handlebarsTest" type="text/x-handlebars-template">
    {{#each .}}
<!-- food modal -->
<a href="#shelterModal{{@index}}">{{this.sheltername}}</a>
<div class="remodal-bg">
<div class="remodal" data-remodal-id="shelterModal{{@index}}">
  <button data-remodal-action="close" class="remodal-close"></button>
  <h1>{{this.sheltername}}</h1>
  <li>{{this.address}}</li>
  <li id="dist{{@index}}">Distance{{showDistance this.address @index }}</li>
  <li>{{this.website}}</li>
  <li>{{this.phone_number}}</li>
  <iframe
width="600"
height="450"
frameborder="0" style="border:0"
src="//www.google.com/maps/embed/v1/place?q={{this.address}}
                &zoom=17
                &key=AIzaSyCyNJzLx5ioxyCHFL-thkt0y3jMCZwXqfw" allowfullscreen>
</iframe>
  <br>
    <button data-remodal-action="cancel"  class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
  </div>
</div>

           {{/each}}
   </script>
     {% endverbatim %}
<p id="latitude"></p>
<p id="longitude"></p>


  </body>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static '/js/shelters.js' %}"></script>

    <script src="{% static '/js/remodal.js' %}"></script>
    <script src="{% static '/js/remodal.min.js' %}"></script>

    <script type="text/javascript" src="{% static '/js/index.js' %}"></script>


</html>
