<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>WayPointer</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace|Roboto+Condensed:300,400,700|Roboto:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel='icon' href="{% static 'images/wayCompassBig.png' %}" type='image/png' sizes="32x32"/>
    </head>
    <body>
        <div class="transportationPage">
            <div class="leftColumn">
                <img src="{% static 'images/Transportation6_WH.svg' %}" class="ParticularIcon" alt="Transportation Icon" />
                <div class="textfit" data-textfit-min="8px"
     data-textfit-max="8px">
                  <h1 class="isSecondary">TRANSPORTATION</h1></div>
                <div class="movingPart">
                    <a href="{% url 'index' %}"> <img src="{% static 'images/WPmarker.png' %}" class="Compass" alt="compass image" /></a>
                    <a href="{% url 'index' %}">
                        <img src="{% static 'images/WParrow.png' %}"class="sticker">
                    </a>
                </div>
            </div>

            <div class="rightSideWhole">
                <h1 class="isSecondary">TRANSPORTATION</h1>
                <div id="transportationResults">
                    <div id="google_translate_element">
                        <h4>Chọn ngôn ngữ</h4>
                        <h4>Escoja el lenguaje</h4>
                    </div>
                    <script type="text/javascript">
                        function googleTranslateElementInit() {
                            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL}, 'google_translate_element');
                        }
                    </script>
                </div>
                {% verbatim %}
                    <script id="handlebarsTest" type="text/x-handlebars-template">
                        {{#each .}}
                            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#transportationModal{{@index}}">{{this.transportname}}</button>
                            <div id="transportationModal{{@index}}" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">{{this.transportname}}</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>{{this.description_text}}</p>
                                            <p>{{this.phone_number}}</p>
                                            <p class="notranslate">{{this.website}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default closes" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="list-information">{{this.description_text}}</p>
                        {{/each}}
                    </script>
                {% endverbatim %}
            </div>
        </div>
    </body>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.6/handlebars.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <!-- a text fit -->
    <script src="//code.jquery.com/jquery.min.js"></script>
<script src="{% static '/js/textfit.js' %}"></script>
  <!-- a text fit -->
    <script type="text/javascript" src="{% static '/js/transportations.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
